<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EDIViewer_Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <!-- FluentUI Design System -->
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    
    <HeadOutlet />
</head>

<body>
    <fluentui-design-system-provider use-defaults accent-color="#0078d4">
        <Routes />
    </fluentui-design-system-provider>
    
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/fluentui-blazor.js"></script>
</body>

</html>
